

.site-footer{
    padding: 45px 20px 50px 20px;
    width: calc(100vw - 40px);
    background-color: black;
}

.footer-link-cont{
    color: white;
    font-family: sans-serif;
}

.footer-link{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1em;
}

